body{
    padding: 0px;
    margin: 0px;
}


.timeSheet{
    /* background-color: aquamarine; */
    height: 730px;
    width: 900px;
    margin: auto;
}

/* Header */
.header{
    height: 70px;
    background-color: azure;
    border-bottom: 5px solid black;
}

.header h2{
    margin: 0px;
    padding: 3px;
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* weekDays */
.weekDays{
    height: 40px;
    background-color: yellow;
    display: grid;
    grid-template-columns: 130px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekDays h2{
    margin: auto;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#number{
    font-size: 15px;
}

/* Sheet */
.sheet{
    display: grid;
    grid-template-columns: 130px 1fr;
    border: 5px solid black;
}

/* Column */

.weeks{
    display:grid;
    background-color: bisque;
}

.weeks h1{
    margin: 0px;
    padding-top: 0px;
    height: 62px;
    padding-top: 22px;
    padding-bottom: 13px;
    text-align: center;
    font-size: 45px;
    border-bottom: 5px solid black;
}

/* Monthsheet */
.monthSheet{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
}

.monthSheet div{
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.monthSheet  :nth-child(7n+6){
    background-color: rgb(135, 138, 141);
}
.monthSheet  :nth-child(7n+7){
    background-color: rgb(135, 138, 141);
}


/* Day Block */
.block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #70bee2;
}


.block h3{
    margin: 0px;
    padding: 0px;
}

.dayTotal{
    margin: 0px;
    padding: 0px;
    background-color: #753030;
}


/* Summary */
.summary{
    position: absolute;
    height: 637px;
    width: 300px;
    right: 200px;
    top: 115px;
}

.sTotal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: auto;
}

.sBlock{
    height: 99px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sButtons{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.quickButtons{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.sButtons :nth-child(odd){
    background-color: rgb(116, 233, 132);
}

.sButtons :nth-child(even){
    background-color: rgb(255, 123, 123);
}


/* Refresh button */
#refresh{
    height: 70px;
    width: 200px;
    background-color: rgb(226, 43, 98);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 0px;
    right: 300px;
}

#refresh h1{
    margin: auto;
    padding-left: 34px;
    padding-top: 5px;
}

/* Background */


/* Removes spin and clear buttons*/
.quantity::-webkit-inner-spin-button,
.quantity::-webkit-clear-button,
.quantity::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.quantity:focus{
    outline: none;
}