body{
    padding: 0px;
    margin: 0px;
}


.timeSheet{
    background-color: aquamarine;
    height: 730px;
    width: 900px;
    margin: auto;
}

/* Header */
.header{
    height: 70px;
    background-color: azure;
    border-bottom: 5px solid black;
}

.header h2{
    margin: 0px;
    padding: 3px;
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* weekDays */
.weekDays{
    height: 40px;
    background-color: yellow;
    display: grid;
    grid-template-columns: 130px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekDays h2{
    margin: auto;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#number{
    font-size: 15px;
}

/* Sheet */
.sheet{
    display: grid;
    grid-template-columns: 130px 1fr;
    border: 5px solid black;
}

/* Column */

.weeks{
    display:grid;
    background-color: bisque;
}

.weeks h1{
    margin: 0px;
    padding-top: 0px;
    height: 62px;
    padding-top: 22px;
    padding-bottom: 13px;
    text-align: center;
    font-size: 45px;
    border-bottom: 5px solid black;
}

/* Monthsheet */
.monthSheet{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
}

.monthSheet div{
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

/* Day Block */
.block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
}

.block h3{
    margin: 0px;
    padding: 0px;
}













.day{
    background: rgb(143, 180, 248);
    height: 90px;
    width: 200px;
    margin: auto;
    display: grid;
    border-radius: 10px;
}

.day h3{ 
    color: rgb(63, 73, 63);
    margin: auto;
}

.text{ 
    color: rgb(106, 143, 106);
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 23px 30px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 4px;
}

.text input{
    border: none;
    text-align: center;
    width: 75px;
    font-size: 25px;
    border-radius: 10px;
}

.text h3{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* Removes spin and clear buttons*/
.quantity::-webkit-inner-spin-button,
.quantity::-webkit-clear-button,
.quantity::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.quantity:focus{
    outline: none;
}